body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
}
a {
    text-decoration: none;
    color: #fff;
}
ul {
    padding: 0;
}
li {
    list-style-type: none;
}
p {
    margin: 0;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
}
.header {
    background-color: #0A111F;
    filter: drop-shadow(0px 2px 25px #000);
    
}
.header-wrapper {
   display: flex;
    height: 100px;
    align-items: center;
    justify-content: space-between;
   

}
.header-logo {
    display: flex;
    align-items: center;
}
.header-logo p {
    color: #3A68B8;
    font-size: 23px;
    font-weight: 600;
    padding-left: 15px;
}
.header-items ul {
    display: flex;
}
.header-items ul li {
    padding-left: 10px;
    padding-right: 10px;
}
.header-items ul li a {
    font-size: 16px;
    font-weight: 600;
    color: #fff;
}
.header-items ul li a:hover {
    border-bottom: 2px solid #3A68B8;
    transition: 0.5s ease-in;
}
.header-button {
    padding: 15px 35px;
    border-radius: 5px;
    background-color: #3A68B8;
    border: 3px solid #0A111F;
    transition: 0.3s linear;
}
.header-button:hover {
    background-color: #0A111F;
    color: #fff;
   
}
.main-about {
    background-color: #08101E;
}
.started-wrapper {
    display: flex;
    padding-top: 160px;
    justify-content: space-between;
}
.started-wrapper__text {
    max-width: 604px;
}
.starder-text-title p {
    color: #3A68B8;
    font-size: 18px;
    font-weight: 600;
}
.started-text-main {
    padding-top: 10px;
}
.started-text-main p {
    color: #fff;
    font-size: 55px;
    font-weight: 700;
}
.started-text-after {
    padding-top: 40px;
}
.started-text-after p {
    color: #fff;
    font-size: 19px;
    font-weight: 600;
    opacity: 0.7;
    line-height: 180%;
}
.started-text-btn {
    display: flex;
    padding-top: 50px;
}
.started-button {
    padding: 15px 35px;
    background: #3A68B8;
    margin-right: 10px;
    border-radius: 5px;
}
.started-button p {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
}
.started-video {
    display: flex; 
    align-items: center;
    padding: 15px 35px;
    background: #3A68B8;
    margin-left: 10px;
    border-radius: 5px;
}
.started-video p {
    padding-left: 10px;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
}
.started-wrapper__img {
    margin-top: -70px;
    margin-right: -200px;
    -webkit-animation: slide-top 1.8s linear infinite alternate-reverse ;
	        animation: slide-top 1.8s linear infinite alternate-reverse ;
}

@keyframes slide-top {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    100% {
      -webkit-transform: translateY(-100px);
              transform: translateY(-100px);
    }
  }
.started-items {
    display: flex;
    justify-content: space-between;
    padding-top: 89px;
    padding-bottom: 99px;
}
.main-second {
    background-color: #020A18;
}
.learn-section {
    padding-top: 130px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.learn-text {
    max-width: 484px;
    width: 484px;
}
.learn-text-title p {
    color: #fff;
    font-size: 40px;
    font-weight: 700;
}
.learn-text-title {
    padding-bottom: 30px;
}
.learn-text-text {
    padding-bottom: 50px;
}
.learn-text-text p {
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    opacity: 0.7;
}
.learn-img {
    margin-left: -100px;
    -webkit-animation: slide-top 1.8s linear infinite alternate-reverse ;
    animation: slide-top 1.8s linear infinite alternate-reverse ;
}
.learn-text-btn {
    padding: 15px 35px;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    max-width: 90px;
    text-align: center;
    background: #3A68B8;
    border-radius: 5px;
}
.swiper-inner {
    max-width: 362px;
    box-sizing: border-box;
    background-color: #0F1724;
    border-radius: 10px;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
}
.swiper-title p {
    color: #fff;
    font-size: 25px;
    font-weight: 700;
    padding-top: 30px;
    padding-bottom: 30px;
}
.swiper-main p {
    color: #fff;
    opacity: 0.7;
}
.swiper-container {
    margin-top: 170px;
}
.main-third {
    background-color: #020A18;
    padding-bottom: 170px;
}
.says-wrapper {
    padding-top: 170px;
}
.says-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.says-text {
    max-width: 548px;
}
.says-text-title {
    padding-bottom: 40px;
}
.says-text-title p {
    color: #fff;
    font-size: 40px;
    font-weight: 700;  
}
.says-text-text p{
    color: #fff;
    opacity: 0.7;
    padding-bottom: 20px;
    font-size: 17px;
    font-weight: 600;
}
.says-img {
    margin-right: -100px;
    -webkit-animation: slide-top 1.8s linear infinite alternate-reverse ;
    animation: slide-top 1.8s linear infinite alternate-reverse ;
}
.footer {
    background-color: #070F1D;

}
.footer-wrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 77px;
    padding-bottom: 50px;
}
.footer-info {
    max-width: 280px;
}
.footer-info-page p {
    color: #3A68B8;
    font-size: 16px;
    font-weight: 600;
}
.footer-info-page {
    padding-top: 8px;
    padding-bottom: 10px;
    line-height: 18px;
}
.footer-info-text {
    color: #fff;
    opacity: 0.5;
    font-size: 14px;
    font-weight: 400;

}
.footer-info-contact {
    margin-top: 37px;
}
.footer-info-contact div {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.footer-info-contact div p {
    color: #fff;
    padding-left: 10px;
}
.footer-information p{
    color: #fff;
    font-size: 16px;
    font-weight: 600;
}
.footer-information ul li {
    color: #fff;
    opacity: 0.7;
    font-size: 16px;
    padding-bottom: 20px;
}
.footer-about {
    max-width: 260px;
}
.footer-about-title {
    padding-bottom: 32px;
}
.footer-about-title p {
    color: #fff;
    font-size: 16px;
}
.footer-about-text p {
    font-size: 16px;
    opacity: 0.7;
    color: #fff;
}
.footer-about-site {
    padding-top: 20px;
}
.footer-about-social {
    padding-top: 20px;
}
.footer-me {
    background-color: #000;
}
.footer-me-wrapper {
    display: flex;
    height: 100px;
    align-items: center;
    justify-content: space-between;
}
.footer-me-name p {
    font-size: 16px;
    font-weight: 600;
    color: #fff;
}
.show {
    position: fixed;
    width: 100%;
    z-index: 111;
}
.header-burger {
    display: none;
}
@media screen and (max-width:768px) {
    .container {
        margin-left: 20px;
        margin-right: 20px;
    }
    .header-burger {
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        background-color: transparent;
        border: none;
        transition: 0.3s all ease;
    }
    .header-burger::before{
        content: '';
        position: absolute;
        background-color: #fff;
        width: 30px;
        height: 3px;
        bottom: 0;
        transition: 0.3s all ease;
    }
    .header-burger::after{
        content: '';
        position: absolute;
        background-color: #fff;
        width: 30px;
        height: 3px;
        top: 0;
        transition: 0.3s all ease;
    }
    .header-burger span {
        position: absolute;
        background-color: #fff;
        width: 30px;
        height: 3px;
        top: 8px;
    }
    .header-items {
        position: absolute;
        top: 100px;
        left: 0;
        right: 0;
        background-color: #000;
        display: none;
    }
    .header-btn {
        display: none;
    }
    .header-burger--active::before {
     
        bottom: 7px;
        transform: rotate(45deg);
    }
    .header-burger--active::after {
        transform: rotate(-45deg);
        top: 9.5px;
    }
    .header-burger--active span {
        display: none;
    }
    .started-wrapper {
        display: block;
        padding-top: 60px;
    }
    .started-wrapper__img {
        width: 100%;
        
    }
    .started-wrapper__text {
        padding-bottom: 170px;
    }
    .started-wrapper__img img {
        max-width: 100%;
    }
    .started-text-btn {
        display: block;
    }
    .started-video {
        margin-left: 0px;
        width: 200px;
    }
    .started-button {
        margin-right: 0px;
        width: 160px;
        margin-bottom: 30px;
    }
    .started-items {
        padding-top: 20px;
        display: block;
        text-align: center;
    }
    .started-img {
        margin-bottom: 20px;
    }
    .learn-section {
        display: block;
    }
    .learn-img {
        width: 100%;
        margin-left: 0px;
    }
    .learn-img img {
        max-width: 100%;
    }
    .learn-text {
        width: 100%;
    }
    .says-wrapper {
        display: block;
        padding-top: 50px;
    }
    .says-text-title p {
        font-size: 31px;
    }
    .says-img {
        width: 100%;
    }
    .says-img img {
        max-width: 100%;
    }
    .says-text-text {
        padding-bottom: 100px;
    }
    .footer-wrapper {
        display: block;
        padding-top: 20px;
    }
    .main-third {
        padding-bottom: 10px;
    }
    .footer-info {
        margin-bottom: 40px;
    }
    .footer-information {
        display: none;
    }
    .header-burger {
        outline: none;
    }
}
@media screen and (max-width: 500px) {
    .swiper-inner {
        margin: 0 auto;
    }
    .swiper-container {
        margin-top: 50px;
    }
}